.eventsContainer {
	background-image: linear-gradient(#0e3979, #516f9e);
}

.eventsNavbar {
	height: 100vh;
	font-size: 30px;
	color: white;
}

.eventsTitle h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
}
