.events-body {
    background-image: linear-gradient(#043174, #5780BB);
    height: 100vh;
    text-align: center;
}

.events-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}