.footerContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 725px;
    width: 100%;
    height: 90px;
    justify-content: space-between;
}

#footerWebdev {
	position: relative;
	left: 25px;
	color: #043174;
}

.footerText {
    position: relative;
    right: 50px;
}

.footerLinks {
    text-decoration: none;
    margin-left: 50px;
    color: #043174;
}