.media-page{
    text-align: center;
    background-image: linear-gradient(#043174, #5780BB);
    font-size: calc(10px + 2vmin);
    color: white;
}


.calendar {
    border: solid white;
    border-radius: 10px;
    width: 50vw;
    height: 30vw;
    background-color: #043174;
    margin:auto;
}

.connect-with-us {
    border: solid white;
    border-radius: 10px;
    width: 30vw;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 25w;
    margin: auto;
    margin-bottom: 1.5em;
}

.media-icon {
    color: white;
    height: 50px;
    width: 50px;
}

@media (max-width: 850px) {
    .calendar {
        width: 90vw;
        height: 60vw;
    }
    .connect-with-us {
        width: 60vw;
    }
    .icon-container {
        width: 60vw;
    }
}